<h3>Customer Favourites</h3>
<div appDirective1>
  <h2>Indore Potatoes</h2>
  <p>Indore</p>
  <p>Price: 40/Kg</p>
  
</div>
 
<div appDirective2>
  <h2>Kashmir Apples</h2>
  <p>Kashmir</p>
  <p>Price: 150/kg</p>
</div>
 
<h3>Weekly Buyers</h3>
<div>
  <p>Alphanso Mangoes</p>
  <p style="color:blueviolet;font-stretch:extra-expanded;">Price: 600/kg</p>
</div>
 
<div>
  <p>Watermelons</p>
 
  <p style="color:brown;font-family: 'Courier New', Courier, monospace;">Price: 100/kg</p>
</div>
 
<div>
  <p>Nashik Grapes</p>
 
  <p style="color: yellowgreen;font-style: italic;">Price: 120/kg</p>
</div>