<!DOCTYPE html>
<html>

    <body style="background-color: black;">
    
<div class="form-wrapper">
    <div class="backnavbar">

</div>
    <h1>Login</h1>
   <form method="post">
       
       <label for="mail">Email-id</label>
       <input type="email" id="Email" name="email" required>

       <label for="pass">Password</label>
       <input type="password" id="password" name="password" required>
       <button type="submit" routerLink="/cart">Login</button>
   </form>
</div>
</body>
</html>